.header {
  background-color: var(--background-color);
  border-radius: 12px;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0 1rem;

  h1 {
    font-size: clamp(1.2rem, 1.5vw + 0.5rem, 2.5rem);
    font-weight: bold;
    margin: 0;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(2.5rem, 2vw + 1rem, 4.5rem) !important;
    height: clamp(2.5rem, 2vw + 1rem, 4.5rem) !important;
    padding: 0 !important;
    border-radius: 50% !important;
  }

  mat-icon {
    font-size: clamp(1.4rem, 1.5vw + 0.5rem, 2.5rem);
    width: clamp(1.4rem, 1.5vw + 0.5rem, 2.5rem);
    height: clamp(1.4rem, 1.5vw + 0.5rem, 2.5rem);
  }
}

@media (max-width: 600px) {
  .header {
    padding: 0.5rem 1rem;

    h1 {
      font-size: 1em;
    }
  }
}