<app-header [isLoggedIn]="(isLoggedIn$ | async)" (buttonClick)="onLogin()"/>
@if (isMobile()) {
  <main class="mobile-view">
    <div id="cards-container">
      @if (balance(); as bal) {
        <app-card
          [cardTitle]="'Total Balance'"
          [cardBody]="bal.balance | currency:'Rp ':'symbol':'1.2-2'"
        ></app-card>
      }

      @if (totalIncome(); as income) {
        <app-card
          [cardTitle]="'Total Income'"
          [cardBody]="income.totalIncome | currency:'Rp ':'symbol':'1.2-2'"
          [cardType]="'card-income'"
        ></app-card>
      }

      @if (totalOutcome(); as outcome) {
        <app-card
          [cardTitle]="'Total Outcome'"
          [cardBody]="outcome.totalOutcome | currency:'Rp ':'symbol':'1.2-2'"
          [cardType]="'card-outcome'"
        ></app-card>
      }
    </div>
    <div class="list-container">
      <app-mobile-list/>
    </div>
  </main>
} @else {
  <main class="desktop-view">
    <div id="cards-container">
      @if (balance(); as bal) {
        <app-card
          [cardTitle]="'Total Balance'"
          [cardBody]="bal.balance | currency:'Rp ':'symbol':'1.2-2'"
        ></app-card>
      }

      @if (totalIncome(); as income) {
        <app-card
          [cardTitle]="'Total Income'"
          [cardBody]="income.totalIncome | currency:'Rp ':'symbol':'1.2-2'"
          [cardType]="'card-income'"
        ></app-card>
      }

      @if (totalOutcome(); as outcome) {
        <app-card
          [cardTitle]="'Total Outcome'"
          [cardBody]="outcome.totalOutcome | currency:'Rp ':'symbol':'1.2-2'"
          [cardType]="'card-outcome'"
        ></app-card>
      }
    </div>

    <div id="table-container">
      <app-table-container/>
    </div>
  </main>
}
