@media (max-width: 960px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .list-container {
    border-radius: 12px;
    background-color: var(--secondary-background-color);
    overflow: hidden;
  }
}