.mobile-list-container {
  margin: 1rem;
}

.list-viewport {
  max-height: 380px;
  /* limits to approx 5 items depending on natural layout height */
  overflow-y: auto;
  overscroll-behavior-y: contain;
  /* Prevents bounce pulling on the main page */
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  border-radius: 8px;

  /* Hide scrollbars */
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);

  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: bold;
}

.item-date {
  font-size: 0.8rem;
  color: #666;
}

.item-amount {
  font-weight: bold;
}

.item-amount.income {
  color: var(--income-color);
}

.item-amount.outcome {
  color: var(--outcome-color);
}