
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import "./app/styles/theme.css";

:root {
  @include mat.form-field-overrides((
    filled-input-text-color: var(--text-color),

  ));

  @include mat.snack-bar-overrides((
    button-color: var(--text-color),
    supporting-text-color: var(--text-color),
    container-color: var(--background-color),
  ));
}

:root {
  @include mat.progress-spinner-overrides((
    active-indicator-color: var(--primary),
  ));
}

:root {
  @include mat.dialog-overrides((
    container-color: var(--primary),
  ));
}

@media (max-width: 768px) {
  :root {
    @include mat.tabs-overrides((
      active-indicator-color: var(--secondary-background-color),
      active-focus-indicator-color: var(--secondary-background-color),
      active-focus-label-text-color: var(--primary),
      divider-color: var(--secondary-background-color),
    ));
  }
}
:root {
  @include mat.fab-overrides((
    container-color: var(--background-color),
    foreground-color: var(--text-color),
  ));
}

:root {
  --primary: #F1E2B8;
  --background-color: #F1E2B8;
  --secondary-background-color: #765E41;
  --text-color: #421010;
  --income-color: #267A0A;
  --outcome-color: #A42222;
}

.mat-mdc-table {
  background: transparent;
}

html, body { height: 90vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #9C8F7C; }
