<form [formGroup]="form" (ngSubmit)="submit()" class="dialog-form">
  <div class="dialog-content">
    @if (data?.type === 'income') {
      <h2>Add Income</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Nominal</mat-label>
        <input matInput placeholder="Nominal" formControlName="nominal" type="number">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="transfer_date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    } @else {
      <h2>Add Transaction</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Nominal</mat-label>
        <input matInput placeholder="Nominal" formControlName="nominal" type="number">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Note</mat-label>
        <input matInput placeholder="Name" formControlName="notes">
      </mat-form-field>
    }
  </div>
  <div class="dialog-actions">
    <button matFab extended type="button" (click)="close()">
      Cancel
      <mat-icon>cancel</mat-icon>
    </button>
    <button matFab extended type="submit" [disabled]="form.invalid">
      Submit
      <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
