.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
}

img {
  max-width: 100%;
  max-height: 75vh;
  border-radius: 8px;
  display: block;
}
